.task {
    display: flex;
    flex-direction: row;
}

.priority {
    margin-top: auto;
    margin-bottom: auto;
    font-weight: bold;
}

.push {
    margin-left: auto;
}

.icon {
    cursor: pointer;
    height: 2em;
    margin: 1em;
}
