.task {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-bottom: 10px;
}

.priority {
    margin-top: auto;
    margin-bottom: auto;
    font-weight: bold;
}

.push {
    margin-left: auto;
}

.task img {
    height: 2em;
    margin: 1em;
    border-radius: 20px;
}

.activeIcon {
    cursor: pointer;
}

.activeIcon:hover {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    transition: box-shadow 150ms linear;
}

.completed {
    background-color: lightgray;
    color: black;
    transition: background-color 1000ms linear;
}