.list {
    list-style: none;
    max-width: 800px;
    padding: 0;
}

@media (max-width: 1150px) {
    .list {
        width: 80%;
        margin: auto;
        justify-content: space-around;
    }

}

@media (min-width: 1150px) {
    .list {
        justify-content: flex-start;
    }
}