.list {
    list-style: none;
    max-width: 1000px;
    padding: 0;
    margin: 2em;
    font-size: 20px;
    color: #35373c;
}

@media (max-width: 1099px) {
    .list {
        width: 93%;
        margin: auto;
        justify-content: space-around;
    }

}

@media (min-width: 1100px) {
    .list {
        justify-content: flex-start;
        margin-left: 35px;
    }
}